blockquote {
  background-color: white;
  border: 2px solid #aaa;
  border-radius: 3px;
  border-top-width: 4px;
  margin-top: 25px;
  margin-bottom: 10px;
}

blockquote code {
  background-color: transparent;
  border: none;
}
