---
---

@import "{{site.theme}}";

blockquote {
  border: 2px solid #bbb !important;
  border-radius: 3px !important;
  border-top-width: 4px !important;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
  background-color: #fafafa !important;
  p {
    margin-bottom: 0px !important;
  }
  code {
    background: transparent !important;
  }
}
