---
---

@import "{{site.theme}}"

blockquote {
  border: 2px solid #aaa;
  border-radius: 3px;
  border-top-width: 4px;
  margin-top: 20px;
  margin-bottom: 10px;
  code {
    background: transparent;
  }
}
